@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: #aeff84;
  --secondary: #067a69;
}

.contact-btn{
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: 0.5rem 1rem;
  border-radius: 25px;
}
.name{
  color: var(--primary);
}
body{
  overflow-x: hidden;
}























































