.social{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
    color: #fff;
    padding: 15px;
    border-radius: 25px;
}
/*new ui*/
.aboutbox{
    border-left: 5px solid var(--primary);
    padding: 10px;
}
.contactbtn{
    border : 2px solid var(--primary);
    width:fit-content;
    margin-top: 25px;
    padding:10px;
    border-radius: 20px;    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.contactbtn:hover{
    background: var(--secondary);
    border: 2px solid var(--secondary);
    color: var(--primary);
    font-weight: bolder;
}

.textanimation::after{
    content: "Student";
    animation: textanim 5s infinite;
    transition: all 0.3s ease;
}
@keyframes textanim {
    0%{
        content: "Student";
        color: var(--primary);
    }   
    50%{
        content: "Web Developer";
        color: var(--secondary);
    }
    100%{
        content: "Student";
        color: var(--primary);
    }
}
.navigation{
    background-color: black;
    color: white;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 20px;
    border: 2px solid var(--primary);
    transition: all 0.3s ease;
}
.navigation:hover{
    background-color: var(--secondary);
    color: var(--primary);
    border: 2px solid var(--secondary);
}
