
.sidebaroptions:hover{
    background-color: white;
    border-radius: 8px;
    color:black;
}
.navtoggle{
    position: fixed;
    top: 0;
    right: 0;
}
.drawer-button{
    background-color: var(--primary);
    border:0px;
}
.drawer-button:hover{
    background-color: var(--primary);
}