.skill-item img{
    height: 100px;
    padding: 5px;
}
.skill-item{
    background-color:rgb(91, 91, 91) ;
    width: 150px;
    height:150px;
    margin: 12px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading{
    width: 100%;
    display: flex;
    justify-content: center;
}